<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DLToolkit.Forms.Controls.FlowListView" version="2.0.11" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="portable45-net45+win8+wpa81" />
  <package id="PCLStorage" version="1.0.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Json" version="4.6.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Text.Encodings.Web" version="4.6.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Forms" version="3.0.0.561731" targetFramework="portable45-net45+win8+wpa81" />
</packages>