<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>711685546849-odo7bk7mr6db3r8hr2nmskrttlng6aj9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.711685546849-odo7bk7mr6db3r8hr2nmskrttlng6aj9</string>
	<key>API_KEY</key>
	<string>AIzaSyCrlJqxECpR8I2RrAySq34VktI107WDt1Y</string>
	<key>GCM_SENDER_ID</key>
	<string>711685546849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.infiniteoptions.Project-Caitlin</string>
	<key>PROJECT_ID</key>
	<string>project-caitlin-c71a9</string>
	<key>STORAGE_BUCKET</key>
	<string>project-caitlin-c71a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711685546849:ios:fc208a1492936bab35db20</string>
	<key>DATABASE_URL</key>
	<string>https://project-caitlin-c71a9.firebaseio.com</string>
</dict>
</plist>